*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    font-family: sans-serif;
}

form{
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid gray;
}

table{
    width: 100%;
}

td{
    padding: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 8px;
    border: 1px solid gray;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;  
}

input[type="button"]:hover{
    background-color: darkgray;
}

input[type="submit"]:hover{
    background-color: darkblue;
}